body {
    font-family: 'Segoe UI';
    background: var(--foreground-gray);
    display: flex;
}

:root {
    /* Cores bases */
    --background-white: #ffffff;
    --foreground-gray: #2C3744;

    /* Cores Principais */
    --primary-blue: #062B5C;
    --primary-white: #ffff;

    /* Cores Segundárias */
    --secundary-gray: #DDE4EC;

    /* Tamanhos */
        /* Bordas */
        --radius: 4px;
}