*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: hsl(215, 84%, 15%);
    --gradient-hero: linear-gradient(135deg, hsl(215, 84%, 15%), hsl(215, 84%, 35%));
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: azure;
    height: 500px;
    width: 1000px;
    border-radius: var(--radius);
    display: flex;
}

.BemVindo-section{
    padding: 50px 50px;
    background: var(--gradient-hero);
    background-color: var(--primary);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/fundo-login.png);
}

.BemVindo-image, img{
    width: 200px;
    height: 200px;
}

.BemVindo-title{
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

.BemVindo-text{
    width: 100%;
    text-align: center;
    color: white;
}

.login-section{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
        border: 1px solid;
}

.login-box{
    height: 400px;
    border-radius: var(--radius);
    width: 70%;
    box-shadow: var(--primary-blue) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.login-icon{
    height: 50px;
    width: 50px;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.password-container{
    margin-bottom: 10px;
    width: 100%;
}

.password-container input{
    width: 100%;
    height: 25px;
    padding: 5px;
}

.input-email{
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.login-form label{
    margin-bottom: 5px;
}

.manter-logado{
    margin: 5px 0;
}

.login-button{
    height: 30px;
    color: white;
    background: var(--primary-blue);
    margin-top: 20px;
    background-color: var(--primary);
}

.login-button:hover{
    cursor: pointer;
}

#keep-logged:hover{
    cursor: pointer;
}

.txt-cadastra, .txt-manterLogado{
    font-size: small;
}

.login-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}